/.BulkInsertMainTemplate.java._trace
/.BulkInsertMainTemplate.xtendbin
/.BulkInsertMappingTemplate.java._trace
/.BulkInsertMappingTemplate.xtendbin
/.TableTemplate.java._trace
/.TableTemplate.xtendbin
/BulkInsertMainTemplate.java
/BulkInsertMappingTemplate.java
/TableTemplate.java
